body{
      background-color: whitesmoke;  
}
.container{
    margin-top: 90px;
}
.img1{
    height:500px ;
    width:600px ;
    cursor: pointer;
}
.para1{
    margin-left: 50px;
}
.parent{
    display: flex;
}
.image{
    height:450px ;
    width:650px ;

}
.flex{
    text-align: center;
    justify-content: center;
    gap: 50px;
    cursor: pointer;

}
.card
{
    width: 350px;
}
.img2{
    
    height:250px ;
    width: 300px;
}
    
 .para2{
margin-left: 90px;
 }
 
        
 