
:root{
    margin: 0px;
    padding: 0px;
}

.login{
    margin-top: 100px;
    margin-left: 700px;
    margin-bottom: 80px;


}


.login-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    width: 300px;
    
}



.input-group {
    text-align: left;
    margin-bottom: 15px;
    
}

.input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    font-size: 20px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.register {
    margin-top: 10px;
    font-size: 16px;
}

.register a {
    color: #007BFF;
    text-decoration: none;
}

.register a:hover {
    text-decoration: underline;
}
.h1{
    color: red;
    margin-left: 70px;
}
.absolute9{
    position: absolute;
        top:px;
        right:px ;
        bottom:90px ;
        left: px;
    
        border-top-left-radius: 10px;
        
      
}
.banner-image{
         width: 100%;
}




